.brown{
  background-color: rgb(65, 26, 26);
  height: 100%;
}

*{
  font-family: 'Times New Roman', Times, serif;
}

.classes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.class{
  margin: 10px;
}

.Display{
  display: flex;
  flex-direction: row;
  font-size: 3vh;
}

.around{
  margin: 3vh;
  display: flex;
  justify-content: space-around;
}

.app{
  background-color: #5C4033;
}

.black{
  padding: 10px;
}

.header{
  font-size: 22px;
}

